<!-- TEST [(ngModel)] permette di tenere in ascolto le modifiche di "name"
<input type="text" [(ngModel)]="name">
<p>{{ name }}</p> -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        <!--<app-servers></app-servers> -->

        <!--* si puo anche fare la "selector" per attributo dal file .ts -->
        <!-- <div app-servers></div> -->

        <!--* la "selector" per classe dal file .ts -->
        <!-- <div class="app-servers"></div> -->
      </div>
      <h1>Sono un AppComponent!</h1>
      <hr>
     <app-servers></app-servers>
    </div>
  </div>
</div>
